@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PiqueSysMarket</h1>
    <p class="lead">Aplicação web em ASP.NET para avaliação da PO do curso Sistemas de Informação UNIVEM-Marília.</p>
    <p><a href="http://github.com/jonatasjhw/Marketfull" class="btn btn-primary btn-lg">Github</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alunos participantes</h2>
        <p>
            Jônatas Vinicius de O. Souza <strong>RA: </strong>536377<br/>
            Rafael Douglas <strong>RA: </strong>538728<br />
            Mighuel Lucas <strong>RA: </strong>540293
        </br>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Professor</h2>
        <p>Navarro</p>
    </div>
    <div class="col-md-4">
        <h2>Fundação de ensino</h2>
        <p>UNIVEM - Marília</p>
        <p><a class="btn btn-default" href="http://univem.edu.br">Saiba mais</a></p>
    </div>
</div>